/*----------------------------------------------------------
    Author: Alex Megahy
    Description: chat.php styling
    Contents:   - Imports
-----------------------------------------------------------*/

/*
*   Imports
*/
@import "../reset.css";
@import "../global.css";
@import "../components/chat-panel.css";
@import "../components/chat-msg.css";
@import "../components/chat-box.css";
@import "../components/list-item.less";
@import "../components/side-menu.less";
@import "../components/user-icons.less";
@import "../components/alert.less";
@import "../components/chat-container.less";
@import "../components/chat-list-sm.less";