/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Container for chat list
    Contents:   - Container
-----------------------------------------------------------*/
/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Site wide styling variables
    Contents:   - Media queries
                - Colours
                - Fonts
                - Global
                - Log in
                - Chat
                - List item
                - Side menu
-----------------------------------------------------------*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
/*
*   Media queries
*/
/*
*   Colours
*/
/*
*   Fonts
*/
/*
*   Global
*/
/*
*   Log in
*/
/*
*   Chat
*/
/*
*   List item
*/
/*
*   Full screen 
*/
/*
*   Side menu
*/
/*
*   Container
*/
.chat-list {
  height: 100vh;
  overflow-y: auto;
}
