/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Chat list item styling
    Contents:   - Item block
                - Item container
                - User list item
-----------------------------------------------------------*/
/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Site wide styling variables
    Contents:   - Media queries
                - Colours
                - Fonts
                - Global
                - Log in
                - Chat
                - List item
                - Side menu
-----------------------------------------------------------*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
/*
*   Media queries
*/
/*
*   Colours
*/
/*
*   Fonts
*/
/*
*   Global
*/
/*
*   Log in
*/
/*
*   Chat
*/
/*
*   List item
*/
/*
*   Full screen 
*/
/*
*   Side menu
*/
/*
*   Item block
*/
.list-item {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (max-width: 567px) {
  .list-item {
    font-size: 1rem;
  }
}
.list-item:hover {
  background-color: #f5f5f5;
  border: 1px solid #c1bbbb;
}
/*
*   Item container
*/
.list-item-container {
  height: 100%;
  width: 100%;
}
.list-item-container:hover {
  cursor: pointer;
}
/*
*   User list item
*/
.user-list-item {
  visibility: hidden;
}
