/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Global styling
    Contents:   - Body
                - Buttons
                - Full screen
-----------------------------------------------------------*/
@import "reset.css";
/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Site wide styling variables
    Contents:   - Media queries
                - Colours
                - Fonts
                - Global
                - Log in
                - Chat
                - Chat list
-----------------------------------------------------------*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
/*
*   Media queries
*/
/*
*   Colours
*/
/*
*   Fonts
*/
/*
*   Global
*/
/*
*   Log in
*/
/*
*   Chat
*/
/*
*   Chat list
*/
/*
*   Body
*/
body {
  background-color: #fff;
  color: #000;
}
body > * {
  box-sizing: border-box;
}
/*
*   Buttons
*/
button,
input[type=submit] {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 20px;
  color: #fff;
  display: block;
  margin: 0 auto;
  outline: none !important;
  padding: 10px;
}
button:hover,
input[type=submit]:hover {
  background-color: #fff;
  color: #3b5998;
  cursor: pointer;
}
/*
*   Full screen
*/
.full-screen {
  background: #f5f5f5;
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
