/*----------------------------------------------------------
    Author: Alex Megahy
    Description: Site wide styling variables
    Contents:   - Media queries
                - Colours
                - Fonts
                - Global
                - Log in
                - Chat
                - List item
                - Side menu
-----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap');

/*
*   Media queries
*/
@mobileSize: 567px;

/*
*   Colours
*/
@black: #000;
@white: #fff;
@lightgrey: #f5f5f5;
@grey: #c1bbbb;
@blue: #334d84;
@red: #850202; 
@purple: #340a82;
@brown: #714d13; 
@orange: #ffa305;
@yellow: #f2e63a;
@green: #185c00;
@pink: #ff85c4;
@acqua: #16c496;

/*
*   Fonts
*/
@heading-font: 'Poppins', sans-serif;
@heading-weight: 400;
@button-font: 'Poppins', sans-serif;
@button-weight: 400;
@message-font:'Roboto', sans-serif;
@message-weight: 400;
@message-font:'Roboto', sans-serif;
@message-weight: 400;
@messageDetails-font:'Roboto', sans-serif;
@messageDetails-weight: 100;

/*
*   Global
*/
@page-BG: @white;
@page-colour: @black;
@button-BG: @blue;
@button-border: 1px solid @blue;
@button-colour: @white;
@button-hover-BG: @white;
@button-hover-colour: @blue;
@button-radius: 20px;
@selected-BG: @blue;
@selected-color: @white;
@close-btn-BG: @red;
@close-btn-colour: @white;


/*
*   Log in
*/
@login-box-BG: @lightgrey;

/*
*   Chat
*/
@chat-panel-BG: @white;
@chat-panel-border: 1px solid @lightgrey;
@message-border-radius: 20px;
@message-details-colour: @black;
@message-other-BG: @blue;
@message-other-colour: @white;
@message-user-BG: @lightgrey;
@message-user-colour: @black;

/*
*   List item
*/
@list-item-BG: @white;
@list-item-border: 1px solid @lightgrey;

/*
*   Full screen 
*/
@full-screen-BG: @lightgrey; 
@full-screen-container-BG: @white;

/*
*   Side menu
*/
@side-menu-BG: @white;
@side-menu-border: 1px solid @lightgrey;
@nicknames-colour: @grey;
@nicknames-weight: 400;
@nicknames-border: @side-menu-border;